.vscode/
mesonbuild/
build/
debian/files
debian/tmp
debian/debhelper-build-stamp
debian/plymouth-theme-cvm-ui-desktop.substvars
debian/plymouth-theme-cvm-ui-desktop
debian/plymouth-theme-cvm-ui-desktop-bgrt
debian/plymouth-theme-cvm-ui-desktop-logo
debian/plymouth-theme-cvm-ui-desktop-text
debian/plymouth-theme-cvm-ui-desktop-bgrt.substvars
debian/plymouth-theme-cvm-ui-desktop-logo.substvars
debian/plymouth-theme-cvm-ui-desktop-text.substvars
debian/plymouth-theme-cvm-ui-desktop.debhelper.log
debian/plymouth-theme-cvm-ui-desktop-bgrt.debhelper.log
debian/plymouth-theme-cvm-ui-desktop-logo.debhelper.log
debian/plymouth-theme-cvm-ui-desktop-text.debhelper.log
debian/.debhelper