Source: plymouth-theme-cvm-ui-desktop
Section: x11
Priority: optional
Maintainer: jiafeitech
Build-Depends: debhelper (>= 10.5.1)
Standards-Version: 4.5.0

Package: plymouth-theme-cvm-ui-desktop
Architecture: all
Depends: ${misc:Depends}, plymouth, plymouth-label, plymouth-theme-spinner
Provides: plymouth-theme
Replaces: plymouth (<< 0.8.1-1~)
Description: graphical boot animation and logger
  Plymouth is an application that runs very early in the boot process
  (even before the root filesystem is mounted!) that provides a graphical
  boot animation while the boot process happens in the background.
  .
  This package contains the Cvm UI Desktop splash theme for Plymouth.
